/* @import url('http://example.com/example_style.css'); */

/***********************************************/
/* CSS @imports must be at the top of the file */
/* Add them above this section                 */
/***********************************************/

/*****************************************/
/* Start your style declarations here    */
/*****************************************/

.my-portfolio-footer footer {
    margin-top: 30px;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
    text-align: center;
}