
      .custom-card:hover{
        transform: scale(1.01);
      }
      .hero-image{
       width: 100%;
       background-color: #000;
      }
      .hero-image img{
        width: 100%;
        display: block;
      }
      .details_div{
        padding:18px
      
      }
  a{
    text-decoration: none;
    color: #e25e
}
